<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nohunger">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="NoHunger"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NoHunger">
        <activity android:name=".donate_video_view" />
        <activity android:name=".home_web_view" />
        <activity android:name=".RestaurantDetails" />
        <activity android:name=".IndividualDetails" />
        <activity android:name=".Restaurant" />
        <activity android:name=".Individual" />
        <activity android:name=".donate_paths" />
        <activity android:name=".sign_in" />
        <activity android:name=".sign_up" />
        <activity android:name=".donate_history_donate_id" />
        <activity android:name=".settings_donate_history" />
        <activity android:name=".settings_personal_data" />
        <activity android:name=".settings_notifications" />
        <activity android:name=".settings_terms" />
        <activity android:name=".settings" />
        <activity android:name=".settings_about_us" />
        <activity android:name=".MainActivity" />
        <activity android:name=".splash_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider179650647506007"
            android:exported="true" />
    </application>

</manifest>